<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba"
        android:usesCleartextTraffic="true">
        <activity android:name=".ConfirmarPorra" android:theme="@style/Theme.Prueba.NoActionBar"/>
        <activity
            android:name=".RealizarPorra"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".MenuPorras"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".Clasificacion"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".PantallaOpcionesLiga"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".PantallaLigas"
            android:label="@string/title_activity_pantalla_ligas"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Prueba.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Prueba.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>